#numOnlineText{
	text-align: center;
	font-size: 40pt;
}

#fireButtonsGroup{
	text-align: center;
}

body{
	padding-left:20px;
}

#hitsList{
    overflow: scroll;
    overflow-x: hidden;
    height: 21em;
}

.checkbox-masters-workers {
	margin-left: 20px;
}

.checkbox-masters-workers label {
	font-weight: normal;
}